<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bio-miku.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">

    <title>Miku - личная биография</title>
</head>
<body>


<div class="boxup">
    <p>Hatsune Miku —— 初音ミク</p>
</div>

<div class="scroll-boxmiku">
    
        <div id="content1">
            
                <div class="text1">
                    <h1>Hatsune Miku - История происхождения</h1>

    <p>Хатсуне Мику — это виртуальный певец, созданный компанией Crypton Future Media и впервые представленный миру 31 августа 2007 года. Её имя, глубоко символичное, можно перевести как
        «Первое звучание будущего»: <span class="info">«хацу»</span> означает «первый», <span class="info">«нэ»</span> — «звук», а <span class="info">«мику»</span> — «будущее».</p>
    <p>Технологической основой для Мику стал вокал-синтезатор Vocaloid, разработанный компанией Yamaha. Голосом для этого цифрового инструмента послужила японская сэйю Фудзии Саки, чьи вокальные данные были оцифрованы и легли в основу голосового банка.
        Изначально Crypton Future Media рассматривала свой продукт как музыкальное программное обеспечение для профессионалов, но судьба распорядилась иначе.</p>
    <p>Неожиданно для создателей, Мику из простого программного обеспечения превратилась в глобальный культурный феномен. Всё началось с японского видеохостинга Niconico, где пользователи стали выкладывать собственные музыкальные произведения, используя её голос.
        Вирусный успех песни «Ievan Polkka», сопровождавшийся анимированным видео с крутящимся луком-пореем, вывел популярность Мику на невиданный уровень!</p>
                </div>
                
                <video class="mikulal" src="/static/img/lalala.mp4" autoplay muted loop>Miku</video>
        </div>
        <div id="content2">
            <div class="videofoot">
                <video preload="metadata" id="song" src="/static/img/mikuclip.mp4" controls ></video>
                <footer class="videosong">Hatsune Miku: Project DIVA F 2nd - [PV] "The Intense Voice of Hatsune Miku"</footer>
            </div>
            <div class="text2">
                <h1>Один из первых 3D-клипов<br>
                «The Intense Voice of Hatsune Miku»</h1>
                    <ul>
                        <li class="first">Оригинальное название: <span class="d">初音ミクの激唱 (Hatsune Miku no Gekishou)</span></li>
                        <li>Дата выпуска: 7 декабря 2007 года</li>
                        <li>Автор музыки/аранжировки: <span class="d">CosMo (CosMo@Bousou-P)</span></li>
                        <li>Жанр: <span class="d">Speedcore</span> / <span class="d">Techno</span> / <span class="d">Vocaloid</span></li>
                        <li>Платформа: <span class="d">Nico Nico Douga</span> (Нико Нико Дога)</li>
                    </ul>
            </div>
        </div>

        <div id="content3">
            <h1>Хронология популярности Хацунэ Мику</h1>
            <h2>2007-2008: Начало и первый взлет</h2>

            <p><span class="num"><b>31 августа 2007</b></span> - Официальный релиз <span class="info">Хацунэ Мику</span> как Vocaloid 2 от Crypton Future Media. Первый голосовой банк на японском языке. Её образ начал использоваться не только в музыке, но и в играх, анимации и на первых живых концертах с голографической проекцией.</p>
            <p><span class="num"><b>Конец 2007</b></span> - Появление первых пользовательских видеороликов на <span class="info">Nico Nico Douga</span>. Вирусное распространение благодаря сообществу. Именно в этот период Мику перестала быть просто инструментом и стала символом творчества и сообщества, открыв новую эпоху виртуальных исполнителей.</p>
        </div>

        <div id="content4">
            <div id="text3">
            <h2>2009-2010: Формирование феномена</h2>
            <p><span class="num"><b>2009</b></span> - Взрыв популярности на <span class="info">YouTube</span>. Признание за пределами Японии.</p>
            <p><span class="num"><b>2010</b></span> - Первые живые концерты с использованием голографии. Начало коммерческого успеха как концертного исполнителя.</p>
            
            <ul>
                <li><span class="tabletwo"><b>"World is Mine"</span> (ryo/supercell) - становится визитной карточкой Мику</li>
                <li><span class="tabletwo">"Melt"</span> (ryo/supercell) - эталонная баллада</li>
                <li><span class="tabletwo">"The Disappearance of Hatsune Miku"</span> - демонстрация технических возможностей</b></li>
            </ul>
            </div>
            <img class="gif2" src="/static/img/mikutab.gif" alt="Анимированная Хатсуне Мику">
        </div>

        <div id="content5">
            <img class="gif3" src="/static/img/figure1.png" alt="Фигурка Хатсуне Мику">

            <div id="text4">
                <h2>2011-2013: Международная экспансия</h2>
        <p><span class="num"><b>2011</b></span> - Релиз <span class="info">Vocaloid 3</span> и английской версии Мику.</p>
        <p><span class="num"><b>2012</b></span> - Выступление на <span class="info">Coachella (США)</span> - первый крупный западный фестиваль.</p>
        <p><span class="num"><b>2013</b></span> - Концерт в Сингапуре, подтвердивший статус международной звезды.</p>

                <h2>2014-2016: Мейнстрим и признание</h2>
        <p><span class="num"><b>2014</b></span> - Сотрудничество с <span class="info">Lady Gaga</span> в мировом турне. Появление в американском телешоу "<b>The Late Show with David Letterman</b>".</p>
        <p><span class="num"><b>2015</b></span> - Технологический прорыв: концерты с проекцией на стеклянные панели для лучшего 3D-эффекта.</p>
        <p><span class="num"><b>2016</b></span> - Участие в церемонии открытия <span class="info">Олимпийских игр в Рио</span> (виртуальное выступление для японской аудитории).</p>
            </div>
        </div>

            <div id="contentend">
                <div class="box1">
                    <h2>2017-2020: Консолидация успеха</h2>
        <p><span class="num"><b>2017</b></span> - <span class="info">10-летний юбилей.</span> Масштабные празднования по всему миру.</p>
        <p><span class="num"><b>2018</b></span> - Запуск проекта "Hatsune Miku: VR Future Live" - интерактивные VR-концерты.</p>
        <p><span class="num"><b>2019</b></span> - Статистика: более <span class="info">100,000</span> оригинальных песен создано фанатами, рекорд Гиннесса.</p>
        <p><span class="num"><b>2020</b></span> - Виртуальные концерты во время пандемии показали устойчивость формата.</p>
                </div>
                <div class="box2">
                    <h2>2021-2024: NFT и новые технологии</h2>
            <p><span class="num"><b>2021</b></span> - Выход в метавселенные, эксперименты с <span class="info">NFT-контентом.</span> Эксклюзивные концерты в <span class="info">VR-пространствах.</span></p>
            <p><span class="num"><b>2022</b></span> - Сотрудничество с крупными брендами: Toyota, Google, Domino's Pizza.</p>
            <p><span class="num"><b>2023</b></span> - Интеграция с <span class="info">AI-технологиями</span>, улучшение интерактивных возможностей.</p>
            <p><span class="num"><b>2024</b></span> - Продолжение мировых турне, развитие как культурного моста между Японией и остальным миром.</p>
                </div>
                
            </div>
        <p class="end"><b>Мику продолжает оставаться самым успешным виртуальным исполнителем в истории, продав более 1 миллиона копий голосовых банков и собрав миллионы зрителей на концертах по всему миру.
                <br>Хацунэ Мику представляет собой уникальное явление, выходящее далеко за рамки обычного программного обеспечения или виртуального персонажа!</b></p>

            <button id="traveltracks">
                <p>кликни, чтобы перейти к её трекам</p>
            </button>
</div>

    <script src="/static/js/registr.js"></script>
    <script src="/static/js/player.js"></script> 
    <script src="/static/js/bio-mikuteto.js"></script>
</body>
</html>