<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bio.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">

    <title>Miku x Teto - биография</title>
</head>
<body>
    

<div class="scroll-box">
    <div class="content">
    
<!-- декор справа -->
<div id="elem">
    <span class="star2">★</span>
    <span class="star3">★</span>
    <span class="star4">★</span>
    <span class="star5">★</span>
    <span class="star6">★</span>
</div>

    <div id="miku">
        <a href="/bio-miku">
            <img src="/static/img/mikugun.gif" alt="Биография Мику!">
        </a>

    <div class="text1">
        <p class="name"><a href="/bio-miku">Hatsune miku</a></p>
        
        <div class="bio">
            <p>Хацунэ Мику (初音ミク) — самая известная виртуальная певица, созданная компанией Crypton Future Media.<br>
            Впервые была представлена 31 августа 2007 года. Её имя переводится как "Первое звучание будущего", а образ представляет собой 16-летнюю девушку с длинными бирюзовыми волосами, собранными в характерные двойные хвосты.</p>
            
            <p>Будучи не просто программным обеспечением, а полноценной виртуальной знаменитостью, Мику выступает с "живыми" концертами в формате голограмм, выпускает альбомы и сотрудничает с тысячами композиторов по всему миру. Её хиты вроде "World is Mine" и "Senbonzakura" стали вирусными, а сама она превратилась в символ японской поп-культуры и икону креативного сообщества, вдохновляющую музыкантов, художников и фанатов по всему земному шару.</p>
        </div>
    </div>
    </div>

<div class="podrobnee">★ более подробно можете ознакомиться перейдя по гиф</div>


    <div id="teto">
        <a href="/bio-teto">
            <img src="/static/img/tetoris.gif" alt="Биография Тето!">
        </a>

    <div class="text2">

        <p class="name1"><a href="/bio-teto">Kasane Teto</a></p>

        <div class="bio1">
        <p>Касане Тето (重音 テト) — виртуальная певица, первоначально созданная как неофициальный персонаж для программы UTAU, но со временем получившая официальное признание.<br>
        Её разработал японский художник и композитор Твам (TAMA) в 2008 году как "мошенническую версию Хацунэ Мику", но благодаря популярности среди фанатов она стала самостоятельным персонажем.</p>
        <p>Образ Тето включает ярко-розовые волосы, красные глаза и часто изображается в чёрно-розовой одежде. Хотя изначально она не была официальным продуктом Crypton Future Media, её популярность привела к тому, что она стала признанной виртуальной исполнительницей, появляясь в различных ритм-играх и сотрудничая с другими вокалоидами.</p>
        </div>
    </div>
    </div>



    </div>
</div>


    <script src="/static/js/registr.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>