<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <title>Miku x Teto - главная</title>
</head>
<body>
    
<div class="scroll-box">

    <div id="search-container">
        <input type="search" id="searchInput" placeholder="Поиск треков...">
        <div id="search-result"></div>
    </div>

    <div class="navindex">
        <p class="nav1" data-target="content">Избранное</p>
        <p class="nav2" data-target="content2">Вокалоиды</p>
        <p class="nav3" data-target="content3">O нас</p>
    </div> 

        <div id="navbar">
            <div class="hover">
            <a href="/profile"><img src="/static/img/teto-cover.jpg" id="avatar" alt="Профиль"></a>
            <p class="soob">Профиль</p>
        </div>
    </div>

    <div id="content">

        <img src="/static/img/izbran.png" class="izbran">
        <div id="likes">
            <img src="/static/img/PolygonIndex.png" alt="старт избранного">

            <div class="word-container">
                <div class="word-stack">
                    <span class="word-ru">избранное</span>
                    <span class="word-en">favorites</span>
                </div>
            </div>
        </div>
    </div>

    <div id="content2">
        <h1>Vocaloids</h1>
        <p class="h">слушайте по отдельности!^^</p>

        <div id="circuls">
            <div class="circulindex" data-character="1">
                <p class="txtindex"><span class="sp1">Miku</span></p>
                <button class="startstop" data-character="1">
                    <img src="/static/img/Polygon 3 (1).png" alt="Start" class="iconindex">
                </button>
            </div>

            <div class="circulindex" data-character="3">
                <p class="txtindex"><span class="sp2">Duo</span></p>
                <button class="startstop" data-character="3">
                    <img src="/static/img/Polygon 3 (1).png" alt="Start" class="iconindex">
                </button>
            </div>

            <div class="circulindex" data-character="2">
                <p class="txtindex"><span class="sp3">Teto</span></p>
                <button class="startstop" data-character="2">
                    <img src="/static/img/Polygon 3 (1).png" alt="Start" class="iconindex">
                </button>
            </div>
        </div>

    </div>

    <div id="content3">
            <div class="word-container2">
                <div class="word-stack2">
                    <span class="word-ru2">O нас</span>
                    <span class="word-en2">About us</span>
                </div>
            </div>
<img src="/static/img/default.png" alt="">

            <footer>
                <div id="navfooter">
                    <a href="#">Discord</a>
                    <a href="#">Telegram</a>
                    <a href="#">Github</a>
                    <a href="#">WeChat</a>
                </div>
                <p class="mark">&copy; 2026 Miku x Teto. Bce права защищены.</p>
            </footer>
    </div>
</div>

    <script src="/static/js/registr.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>