<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <title>Miku x Teto - профиль</title>

    <div class="scroll-box">

        <div class="profile-header">
            <p id="nickname">Votinov.top@gmail.com</p>
            <img src="/static/img/pencil.png" alt="Edit" id="edit-nickname">
        </div>

        <a href="/index"><div class="back">
            <img src="/static/img/back.png">
            <p>на главную</p>
        </div></a>

        <div class="content">

            <div class="likes"><p>Избранные</p>
                <div id="likes-box"></div>
            </div>

            <div id="avatar"><img id="box-avatar" src="/static/img/haku-cover.jpg" alt="Ваша аватарка">
                <p>Изменить аватарку</p>
            </div>

            <div class="recent"><p>Недавние</p>
                <div id="recent-box"></div>
            </div>

        </div>

        <div class="contacts"><p>Связаться c нами:</p>
            <div class="social"><a href="#">Github</a><a href="#">Telegram</a><a href="#">Wechat</a></div>
        </div>
        <button id="leave">Выйти из аккаунта</button>

        <div class="footer"><p>Версия SPA сайта: 0.0.1</p></div>

    </div>

    <script src="/static/js/registr.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/profile.js"></script>
</head>
<body>