<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/tracks.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">   

    <title>Miku x Teto - треки</title>
</head>
<body>
    

<div class="scroll-box">
    <div class="content">

        <div id="search-container">
            <input type="search" id="searchInput" placeholder="Поиск треков...">
            <div id="search-result"></div>
        </div>
    
        <div id="block">
            <div class="circul">
                <p class="txt"></p>
                <button class="startstop"><img id="playPauseImg" src="/static/img/Polygon 3 (1).png" alt="Start" class="icon"></button>
            </div>

            <div class="circul">
                <p class="txt"></p>
                <button class="startstop"><img id="playPauseImg2" src="/static/img/Polygon 3 (1).png" alt="Start" class="icon"></button>
            </div>

            <div class="circul">
                <p class="txt"></p>
                <button class="startstop"><img id="playPauseImg3" src="/static/img/Polygon 3 (1).png" alt="Start" class="icon"></button>
            </div>
        </div>

        <h1>More songs, more vocaloids, other voices</h1>
        <div id="song-container">
            
        </div>

    </div>
</div>

    <script src="/static/js/registr.js"></script>
    <script src="/static/js/player.js"></script>
</body>
</html>