*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/static/img/tetokurs.webp") , auto;}

.boxup{
        border: 1px solid rgb(37, 37, 37);
        box-shadow: 
            0 0 0 1px #2e2e2e, 
            inset 0 0 0 1px rgb(39, 39, 39);
        padding: 10px;
        margin: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: rgb(31, 30, 30);
        border-radius: 22px;
        position: absolute; left: 260px; top: -3px; right: 20px;
        transition: all 0.3s ease;
}
.boxup.collapsed {
    left: 130px;
}
.boxup p{font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    justify-self: center;
    color: rgba(227, 30, 30, 0.685); 
    text-shadow: 2px 2px 4px rgba(208, 27, 27, 0.685); 
    transition: all 0.25s ease;}
.boxup p:hover{
    text-shadow: 2px 2px 4px rgba(214, 19, 19, 0.822);
    scale: 1.05;
}


#content1{
    display: flex;
    width: auto; height: 480px;
    margin: 5px; padding: 5px;
    margin-bottom: 20px;
}

.tetolal{
    margin: 17px; margin-top: 35px;
    height: 380px;
    border: 1px solid rgba(196, 31, 31, 0.877); border-radius: 50px;
    box-shadow: 5px 5px 12px 3px rgba(196, 31, 31, 0.877), 
    -5px -5px 12px 3px rgba(196, 31, 31, 0.938);
}

.text1{
    padding: 4px; width: 71%;
}

.info{color: rgba(206, 35, 35, 0.87); 
    text-shadow: 2px 2px 4px rgba(163, 16, 16, 0.911);
    font-size: 21px;}
h1{
    margin-bottom: 10px;
    user-select: none; text-align: center;
    font-size:29px; font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgba(196, 32, 32, 0.911); 
    text-shadow: 2px 2px 4px rgba(163, 16, 16, 0.911);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.text1 p{
    width: 95.2%;
    text-indent: 28px; text-align: justify; line-height: 1.3;
    margin: 20px;
    color: rgba(255, 255, 255, 0.699); font-size: 20px;
}

#content2{
    display: flex;
    width: auto; height: 550px;
    margin: 5px; padding: 5px;}

#content2 h1{
    font-size: 24px;
    line-height: 1.3;
}

.text2{
    height: 450px; width: auto;
    margin-top: 27px; margin-left: 16px;
}

ul{
    margin-top: 31px;
    margin-left: 31px;
}
li{
    list-style-type: disc; color: rgba(255, 255, 255, 0.699); 
    font-size: 19px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7;
}
li::marker{
    color: rgba(196, 32, 32, 0.911); font-size: 29px;
    text-shadow: 2px 2px 5px 5px black;
}

#song{
    width: 750px;
    border: 2px solid rgb(66, 65, 65);
    box-shadow: 0 0 0 3px #2e2e2e, 
        inset 0 0 0 3px rgb(39, 39, 39); border-radius: 25px;
    margin: 25px;  margin-left: 20px; margin-top: 60px;
}
.videosong{
    margin-top: -18px;
    justify-self: center;
    font-size: 18px; color: rgba(255, 255, 255, 0.459); 
}

.scroll-boxteto h2{
    margin: 32px 0px; margin-top: 40px;
    padding: 10px 20px; text-align: center;
    user-select: none; justify-self: center;
    font-size: 25px; color: rgba(183, 28, 28, 0.911); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgba(119, 119, 119, 0.501); 
    box-shadow: 3px 3px rgba(119, 119, 119, 0.501);
    transition: all 0.25s ease;
    border-radius: 10px 36px;
}
.scroll-boxteto h2:hover {
    background: linear-gradient(50deg, rgb(144, 43, 43), rgba(255, 25, 25, 0.815), rgba(152, 55, 55, 0.815));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    animation: gradient 1.5s ease infinite;
    scale: 1.04; 
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.num{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 19px; color: rgba(255, 255, 255, 0.726); 
}

#content3{color: rgba(255, 255, 255, 0.699);
    width: auto; font-size: 21px;
    margin: 5px; margin-top: 50px;
    padding: 15px; margin-bottom: -50px;
}
#content3 p{
    margin: 18px 6.5%;
    text-align: center;
}

#content4{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.699);
    width: auto; font-size: 21px;
    margin: 0px 5px; margin-top: 42px;
    padding: 15px;
}
#content4 p{
    margin: 15px 60px; margin-right: 20px;
    text-align: start; line-height: 150%;
    text-indent: 20px;
}
#content4 h2{
    margin-top: 20px;
}

.gif2{
    border: 1px solid rgba(214, 40, 40, 0.801); border-radius: 30px; 
    margin: 25px; margin-right: 40px; height: 370px; 
    box-shadow: 2px 2px 4px rgba(233, 41, 41, 0.801), 
    -5px -5px 12px rgba(233, 41, 41, 0.801);
    transition: all 0.4s;}
.gif2:hover{box-shadow: 9px 9px 14px rgba(221, 26, 26, 0.856), 
        -9px -9px 14px rgba(221, 26, 26, 0.856);}

#content5{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.699);
    width: auto; font-size: 21px;
    margin: 0px 5px; margin-top: -30px;
    padding: 15px;
}
#content5 p{
    margin: 15px 60px; margin-right: 70px;
    text-align: start; line-height: 160%;
    text-indent: 20px;
}
#content5 h2{
    margin-top: 0px;
}

.gif3{
    height: 530px; margin: 20px; margin-left: 120px; margin-top: 40px; margin-right: 40px;
    border-bottom: 2px solid rgba(214, 40, 40, 0.801); border-radius: 21px;
    box-shadow: 0 11px 6px -7px rgba(233, 52, 52, 0.801); transition: all 0.25s ease;
}
.gif3:hover{scale: 1.04; box-shadow: 0px 13px 7px -7px rgba(194, 41, 41, 0.877)}


.end{
    margin: 60px 180px; margin-bottom: 20px;
    text-indent: 22px;
    text-align: center;  line-height: 1.4; font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(192, 23, 23, 0.911);
text-shadow: 2px 2px 4px rgba(192, 25, 25, 0.603);
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

a{cursor: pointer;}


#traveltracks{
    display: block;
    margin: 40px auto;
    padding: 20px 15px;
    width: 60%;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(203, 24, 24, 0.911);
    box-shadow: 2px 2px 5px rgba(192, 25, 25, 0.603), 
    -2px -2px 5px rgba(192, 25, 25, 0.603);
    background: linear-gradient(90deg, rgb(40, 39, 39), rgb(31, 30, 30), rgb(40, 39, 39));
    transition: all 0.2s ease;
}
#traveltracks:hover{
    box-shadow: 5px 5px 12px rgba(214, 40, 40, 0.801), 
    -5px -5px 12px rgba(214, 40, 40, 0.801);
    background: linear-gradient(90deg, rgb(31, 30, 30), rgb(46, 45, 45), rgb(31, 30, 30));
    scale: 1.03;
}
#traveltracks:active{
    scale: 1;
    filter: brightness(0.9);
}


#traveltracks p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'unbound';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}