*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes slideWords {
    0%, 45% {
        transform: translateY(0);
    }
    50%, 95% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blur {
    0% {
        filter: blur(13px);
        transform: scale(1.2);
    }
    25% {
        filter: blur(8px);
        transform: scale(1.15);
    }
    75% {
        filter: blur(8px);
        transform: scale(1.15);
    }
    100% {
        filter: blur(13px);
        transform: scale(1.2);
    }
}

/* SCROLLBOX */
.scroll-box{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.izbran{
    position: absolute;
    z-index: 0;
    animation: blur 1.8s ease infinite;
}

#likes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}
#likes img{
    cursor: pointer;
    transition: all 0.2s ease;
}
#likes img:hover{
    scale: 0.9;
    opacity: 0.85;
}

.word-container {
    height: 50px; 
    overflow: hidden;
    user-select: none;
}
.word-stack {
    position: relative;
    animation: slideWords 3.5s infinite ease-in-out;
}
.word-ru, .word-en {
    display: block;
    font-size: 40px;
    color: #FFFDFD;
    font-family: 'unbound';
    text-transform: uppercase;
    font-weight: 1000;
    white-space: nowrap;
    height: 50px;
    line-height: 1.3;
}

/* SCROLLBOX2 */

#content2 h1{
    text-align: center;
    font-size: 50px;
    color: #ffffffcc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 1000;
}
.h{
    text-align: center;
    font-size: 19px;
    color: #ffffff99;
    font-family: 'unbound';
}

#circuls{
    margin: 20px;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    margin-top: 100px;
}

.circulindex {
    width: 320px;
    height: 320px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.circulindex-cover:active {
    transform: scale(0.95);
    filter: brightness(0.9);
}

.circulindex-cover {
    position: absolute;
    box-shadow: 0 0 50px 0px rgba(224, 224, 224, 0.464);
    transition: all 0.2s ease;
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

.circulindex.playing {
    border-radius: 50%;
    animation: pulseGlow 1.4s ease-in-out infinite;
}

.circulindex-cover:hover {
    scale: 1.04;
}

.txtindex {
    text-align: center;
    position: absolute;
    padding: 13px;
    margin-top: 250px;
    border-radius: 15px;
    background: rgb(35, 35, 35);
    color: rgba(255, 255, 255, 0.63);
    width: 320px;
    height: 75px;
    box-shadow: 0px 10px 40px 0px rgba(224, 224, 224, 0.082);
    font-family: 'unbound';
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.sp1, .sp2, .sp3 {
    transition: all 0.2s ease;
}
.txtindex:hover .sp1{
    background: linear-gradient(50deg, #00ffffd4, #c9c9c9e9, #00ffffd4);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 2s ease infinite;
}
.txtindex:hover .sp2{
    background: linear-gradient(50deg, #00ffff, rgba(196, 32, 32, 0.6), #00ffff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 2.4s ease infinite;
}
.txtindex:hover .sp3{
    background: linear-gradient(50deg, rgb(196, 32, 32), #c6c6c6e9, rgba(196, 32, 32, 0.911));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 2s ease infinite;
}

.startstop {
    border: none;
    transition: all 0.25s ease;
    position: absolute;
    margin: 120px;
    margin-top: 298px;
    z-index: 100;
    background-color: rgb(206, 206, 206);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.startstop .icon {

    transition: transform 0.2s ease;
}

.startstop:hover {
    background-color: rgb(232, 232, 232);
    scale: 1.055;
}

.startstop:active {
    transform: scale(0.94);
    filter: brightness(0.9);
}

.startstop.pressed {
    transform: scale(0.94);
    filter: brightness(0.9);
}

#navbar {
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: 10;
    padding: 10px;

    display: flex;
    gap: 25px;
}

#avatar{
    width: 135px;
    height: 135px;
    border-radius: 40%;
    object-fit: cover;
    transition: all 0.2s ease;
    cursor: pointer;
    opacity: 0.85;
    margin: 20px;
    margin-bottom: 10px;
}
#avatar:hover {
    scale: 1.05;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.5);
}

.hover:hover .soob {
    transform: translateY(0);
    opacity: 1;
}

.soob{
    font-family: 'unbound';
    color: #ffffffcc;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    margin: 0px 20px; padding-left: 5px;
    user-select: none;

    transform: translateY(-40px);
    opacity: 0;
}

/* навигационные кнопки для скролла */

.navindex{
    position: fixed;
    right: 230px;
    display: flex;
    gap: 54px;
    padding: 25px 20px;
    height: fit-content;

    color: #fffdfdec;
    font-size: 24px;
    font-family: 'unbound';
    font-weight: 1000;
    user-select: none;
    z-index: 1000;
    
    transition: all 0.27s ease;
}

.navindex p.active {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 2px;
    transform: scale(1.02);
    transition: all 0.1s ease;
}
.navindex.scrolled{
    right: 80px;
}

.nav1, .nav2, .nav3 {
    cursor: pointer;
    transition: all 0.2s ease;
}
.nav1:hover, .nav2:hover, .nav3:hover {
    color: #ffffffcc;
    scale: 1.05;
}

/* content 3 - about us */

#content3{
    height: fit-content;
    margin-top: 120px;
}

.word-container2 {
    text-align: center;
    height: 50px; 
    overflow: hidden;
    user-select: none;
}
.word-stack2 {
    position: relative;
    animation: slideWords 3.5s infinite ease-in-out;
}
.word-ru2, .word-en2 {
    display: block;
    font-size: 42px;
    color: #fffdfde1;
    font-family: 'unbound';
    font-weight: 800;
    white-space: nowrap;
    height: 50px;
    line-height: 1.3;
}

#content3 img{
    position: relative;
    left: 50%; transform: translateX(-50%);
    margin: 25px;
}

/* footer */

footer{
    border-top: 2px solid rgba(55, 213, 182, 0.8);
    padding-top: 20px;
}

.mark{
    text-align: center;
    margin: 5px;
    color: #fffdfdb4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    user-select: none;
}

#navfooter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
#navfooter a{
    font-family: 'unbound';
    color: #fffdfdcc;
    font-size: 22px;
    text-decoration-line: none;
    transition: all 0.2s ease;
    margin: 3px;
}
#navfooter a:hover{
    scale: 1.1;
    color: #FFFDFD;
}