/* animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes click {
    0% { scale: 1.05; }
    50% { scale: 0.95; }
    100% { scale: 1.05; }
}

@keyframes pulseGlow {
    0% { box-shadow: 0 0 25px 0px rgba(208, 32, 32, 0.985); }
    50% { box-shadow: 0 0 40px 0px #00ffffbd; }
    100% { box-shadow: 0 0 25px 0px rgba(208, 32, 32, 0.985); }
}

@keyframes pulseGlowOther {
    0% { box-shadow: 0 0 10px 0px rgba(208, 32, 32, 0.985); }
    50% { box-shadow: 0 0 20px 0px #00ffffbd; }
    100% { box-shadow: 0 0 10px 0px rgba(208, 32, 32, 0.985); }
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(3px); }
    100% { opacity: 1; transform: translateY(0); }
}



/* Кастомный плеер */
.custom-player {
    position: fixed;
    bottom: 10px;
    left: 260px;
    right: 20px;
    background: linear-gradient(45deg, rgb(31, 30, 30) 20%, #2a2a2a 50%, rgb(31, 30, 30) 100%);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    padding: 12px 10px;
    margin: 0 20px;
    z-index: 1000;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 22px;
    box-shadow: 0 0 0 1px #2e2e2e, inset 0 0 0 1px rgb(39, 39, 39);
}

.player-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: auto;
    margin: 0 20px;
}

/* Обложка плеера */
.player-cover {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 3px 10px;
    transition: all 0.2s ease;
}

.player-cover:hover {
    scale: 1.045;
}

.player-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Информация о треке */
.player-info {
    width: 168px;
    transition: all 0.15s ease;
}

/* Контейнер для названия трека */
.player-title {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.788);
    margin-bottom: 4px;
}

/* Внутренний span, который будет двигаться */
.player-title span {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
}

/* Бегущая строка (если текст не помещается) */
.player-title.long-title span {
    animation: marquee-alternate 5s linear infinite alternate;
}

@keyframes marquee-alternate {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% + 168px)); } /* 168px = ширина .player-info */
}

.player-info.fade-out {
    opacity: 0;
    transform: translateY(3px);
}

.player-info.fade-in {
    animation: fadeInUp 0.15s ease forwards;
}

.player-title {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.788);
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-artist {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8C8C8C;
    cursor: pointer;
    transition: all 0.2s ease;
}
.player-artist:hover{
    color: #b3b3b3;
}

/* Кнопки управления */
.player-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 10px;
}

.player-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 0;
}

.player-btn:disabled {
    opacity: 0.4;
    user-select: none;
}

.player-btn img {
    width: 24px;
    height: 24px;
}

.play-btn {
    background-color: rgb(206, 206, 206);
}

.play-btn:hover {
    background-color: rgb(225, 225, 225);
    scale: 1.05;
}

#prevBtn img, #nextBtn img {
    width: 55px;
    height: 45px;
    transition: all 0.2s ease;
}

#prevBtn img:hover, #nextBtn img:hover {
    scale: 1.07;
}

/* Прогресс-бар */
.player-progress {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 250px;
    max-width: 550px;
}

.time-current, .time-duration {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8C8C8C;
    min-width: 40px;
}

.progress-bar-container {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.progress-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 17px 2px;
}

.progress-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 7px;
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 23px;
    height: 23px;
    background: #bebebe;
    border-radius: 45%;
    cursor: pointer;
    margin-top: -5px;
    border: inset 5px #cdcdcd;
    transition: all 0.1s ease;
    box-shadow: 0 0 3px black;
}

.progress-slider::-webkit-slider-thumb:hover {
    transform: scale(1.15);
    border-radius: 50%;
}
.progress-slider::-webkit-slider-thumb:active {
    transform: scale(1);
}

.progress-slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #10dfd8 0%, #eb1616 var(--progress, 0%), rgba(255, 255, 255, 0.3) var(--progress, 0%));
}

.progress-slider::-moz-range-progress {
    background: #8C8C8C;
    height: 14px;
    border-radius: 7px;
}

/* Громкость */
.player-volume {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-wrap {
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease;
}

.player-volume:hover .volume-wrap {
    width: 124px;
}

.volume-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.volume-btn:hover {
    scale: 1.1;
}

.volume-btn img {
    width: 50px;
    height: 48px;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 11px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 2px;
    margin: 0px 5px;
    transition: all 0.2s ease;

    opacity: 0;
    visibility: hidden;
}

.player-volume:hover .volume-slider,
.volume-slider:hover {
    opacity: 1;
    visibility: visible;
}

.volume-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 11px;
    background: rgba(255, 0, 0, 0.579);
    border-radius: 7px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #bebebe;
    border-radius: 45%;
    cursor: pointer;
    margin-top: -4px;
    border: inset 5px #cdcdcd;
    transition: all 0.1s ease;
    box-shadow: 0 0 3px black;
}

.volume-slider::-webkit-slider-thumb:hover {
    transform: scale(1.15);
    border-radius: 50%;
}
.volume-slider::-webkit-slider-thumb:active {
    transform: scale(1.05);
}

.volume-slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(206, 206, 206, 0.8) 0%, rgb(206, 206, 206, 0.8) var(--volume, 0%), rgba(255, 255, 255, 0.3) var(--volume, 0%));
}

.volume-slider::-moz-range-progress {
    background: #10dfd8e2;
    height: 14px;
    border-radius: 7px;
}

/* Кнопка повтора */
.repeat-mode-btn {
    margin-left: 30px;
    opacity: 0.6;
    transition: all 0.15s ease;
    width: 45px;
    height: 45px;
}

#repeatModeBtn img {
    width: 40px;
    height: 40px;
}

.repeat-mode-btn:hover {
    scale: 1.08;
}

.repeat-mode-btn.active-one,
.repeat-mode-btn.active-random {
    opacity: 1;
}

/* Кнопка лайка в плеере */
.like-player-btn {
    width: 45px;
    height: 45px;
    margin: 5px;
    margin-left: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.like-player-btn img {
    width: 39px;
    height: 39px;
    transition: transform 0.15s ease;
}

.like-player-btn:hover img {
    transform: scale(1.08);
}

button:focus,
input:focus{
    outline: none; box-shadow: none;
}