*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

 .scroll-box{
    background: linear-gradient(135deg,
        rgb(31, 30, 30) 0%,
        rgb(33, 32, 32) 10%,
        rgb(36, 35, 35) 22%,
        rgb(42, 41, 41) 35%,
        #242424 50%,
        rgb(42, 41, 41) 65%,
        rgb(36, 35, 35) 78%,
        rgb(33, 32, 32) 90%,
        rgb(31, 30, 30) 100%);
    background-size: 220% 220%;
    animation: boxGradientMove 5s ease-in-out infinite alternate;
}

@keyframes boxGradientMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 40%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.profile-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    vertical-align: middle;
}
#nickname {
    user-select: none;
    font-size: 28px;
    font-family: 'unbound';
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #EAEAEA, #f9f9f981, #EAEAEA);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 3s ease infinite;
    letter-spacing: 2px;
}
#edit-nickname {
    margin: 30px 15px 0px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#edit-nickname:hover {
    filter: brightness(0.85);
    scale: 1.1;
}
#edit-nickname:active {
    filter: brightness(0.7);
    scale: 0.95;
}

#nickname-input{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 30px;
    background: linear-gradient(45deg, #2c2c2c, #292929);
    border: 1px solid #a0a0a097;
    box-shadow: inset 0px 0px 4px #a0a0a0aa;
    border-radius: 12px;
    color: #eaeaeaee;
    font-family: 'Unbounded', monospace;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: '1px';
    padding: 8px 18px;
    outline: none;
    max-width: 340px;
    text-align: center;
    z-index: 1000;
}

/* back */

.back {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 260px;
    height: 60px;
    background: rgba(35, 35, 35, 0.82);
    color: #DFDFDF;
    border-radius: 30px;

    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}
.back p{
    font-size: 19px;
    font-family: 'unbound';
    letter-spacing: 1px;
    user-select: none;
}

.back:hover {
    scale: 1.05;
    box-shadow: 0px 0px 15px 0px rgb(58, 58, 58);
}
.back:active {
    scale: 1;
    filter: brightness(0.9);
}

/* content-box */

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px; 
    padding: 20px 30px;
}

.likes, .recent{
    display: grid;
    vertical-align: middle;
}
.likes p, .recent p{
    text-align: center;
    font-family: 'unbound';
    color: #dfdfdfee;
    font-size: 25px;
    margin: 20px;
    user-select: none;
    font-weight: bold;
    letter-spacing: 2px;
}
#likes-box, #recent-box{
    width: 470px;
    height: 390px;
    border: 2px solid #5c5c5c;
    border-radius: 25px;
    background-color: #4141416e;
    overflow-y: auto;
    scrollbar-width: none;
}

#box-avatar{
    margin: 40px 20px 10px 20px;
    width: 350px;
    border-radius: 50%;
    border: 3px solid #6f6f6f8e;
    box-shadow: 0px 0px 25px #7c7c7cb2;
    cursor: pointer;
    transition: all 0.25s ease;
}
#box-avatar:hover{
    scale: 1.03;
    box-shadow: 0px 0px 15px #eaeaea58;
}
#box-avatar:active{
    scale: 1;
}

#avatar p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 22px;
    font-family: 'unbound';
    text-align: center;
    user-select: none;
    font-weight: 400;
}

/* avatar box */
#ava-box{
    position: absolute;
    left: 4.5%;
    top: 5%;

    border: 2px solid #393939;
    background: linear-gradient(45deg, #323232e4, #292929e4);
    border-radius: 30px;
    padding: 18px 30px;
    z-index: 1000;
    display: none;
}
#ava-box p{
    color: rgba(255, 255, 255, 0.75);
    margin: 10px;
    letter-spacing: 1px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'unbound';
    text-align: center;
    user-select: none;
    font-weight: 400;
}
.img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#ava-box img{
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #7c7c7c;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#ava-box img:hover{
    scale: 1.08;
    box-shadow: 0px 0px 17px #7c7c7c;
}

/* contact us */
.contacts{
    position: relative;
    left: 30px;
}
.contacts p{
    font-family: 'unbound';
    font-size: 20px;
    color: #ffffffd8;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(45deg, #323232, #292929);
    width: 440px;
    border-radius: 25px;
}
.social a{
    font-family: 'unbound';
    font-size: 18px;
    color: #dfdfdfec;
    margin: 15px;
    user-select: none;
    text-decoration-line: none;
    transition: all 0.2s ease;
}
.social a:hover{
    color: #e3e3e3;
    scale: 1.05;
}

/* leave account */

#leave{
    position: absolute;
    bottom: 40px;
    right: 30px;
    background-color: #be3e3edd;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    color: #DFDFDF;
    font-family: 'unbound';
    font-size: 19px;
    padding: 18px 20px;
}
#leave:hover{
    scale: 1.05;
    background-color: #d23030;
}
#leave:active{
    scale: 1;
}

/* footer */

.footer{
    font-family: 'unbound';
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 10px;
    font-size: 14px;
    user-select: none;
    color: rgba(178, 178, 178, 0.75);
}

/* вывываа */
.search-play {
    width: 55px;
    height: 55px;
    margin-right: 5px;
}

.search-play img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}